*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

body {
background-image: url(Imagenes/8dab2ccfd0d3573d36a2764357b3d467.jpg);
background-size: cover;
}

nav {
    max-width: 900px;
    margin: auto;
    background-color:#333333 ;
    font-size: 20px;
    margin-top: 50px;

}

.menu-horizontal{

    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {

display: block;
padding: 15px 20px;
color: white;
text-decoration: none;
}

.menu-horizontal > li:hover{
background-color: red;

}

.menu-vertical {

position: absolute;
display: none;
list-style: none;
width: 200px;
background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}
.menu-vertical li:hover {

    background-color: black;

}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}